mat-card
  border-radius: 0
  height: 75.5%
  padding-top: 80px

.form
  box-shadow: 0 0 6px 1px lightsteelblue
  width: 50%
  margin: 0 auto
  padding: 20px
  transition: 0.4s

.form:hover
  box-shadow: 0 0 6px 4px lightsteelblue
  width: 55%

.material-icons
  cursor: pointer
  color: aliceblue

.btns
  margin: 0 auto 10px

button
  border: none
  background: inherit
